#rateWrapper {
	background-color: gray;
	width: 60vh;
	height: 10vh;
	border-radius: 50px;
}
#veryEasy {
	border-color: white;
	background-color: black;
	width: 20%;
	height: 100%;
	border-radius: 50px 0px 0px 0px;
	/* border-width: 2px; */
}